body {
    background-color: #C8C8C8;
}
#cookie-count-container {
    display: inline-block;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin-left: 8px;
    margin-top: 8px;
}
#cookie-count-image {
    width: 25px;
    height: 100%;
    float: left;
    background-color: blue;
    background-color: #8B4513;
}
#cookie-count-div {
    display: inline-block;
    padding: 0 8px 0;
    min-width: 25px;
    height: 100%;
    float: left;
    background-color: white;
}
#stats-container {
    height: 220px;
    position: absolute;
    background-color: white;
    margin-left: 8px;
    margin-top: 4px;
}
#cookies-per-second-div {
    float: left;
    margin-left: 4px;
    margin-right: 4px;
}
#cookies-per-click-div {
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 16px;
}
#cookies-per-second-span, #cookies-per-click-span {
    margin-right: 8px;
}

.stats-button-wrapper {
    width: 100%;
    float: left;
}
.stats-button {
    border: none;
    background-color: inherit;
    padding-left: 4px;
    font-family: "Tinos";
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
}
.stats-button:hover {
    cursor: pointer;
}
#reset, #flashing-setting {
    padding-bottom: 16px;
}
#version-wrapper {
    padding-left: 4px;
}
#release-notes-container {
    width: 250px;
    height: 300px;
    position: fixed;
    bottom: 35px;
    margin-left: 8px;
    background-color: white;
}
#bottom-bar {
    width: 100%;
    height: 25px;
    position: fixed;
    bottom: 0;
    margin-left: -8px;
    background-color: #707070;
}
#bottom-bar-disclaimer {
    color: red;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}
#left {
    height: 96vh;
    width: 30%;
    float: left;
}
#middle {
    height: 96vh;
    width: 40%;
    float: left;
}
#right {
    height: 96vh;
    width: 30%;
    float: left;
}
#news-bar {
    width: 100%;
    height: 50px;
    margin-top: 32px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
#cookie-wrapper {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cookie {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #8B4513;
    cursor: pointer;
}
.building {
    width: 270px;
    height: 90px;
    float: right;
    margin-right: 2px;
    outline: 1px solid;
    user-select: none;
}
#total-cookies {
    position: fixed;
    bottom: 35px;
    text-align: center;
    width: 40%;
}
.name {
    width: calc(270px / 2);
    height: calc(90px / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
}
.cost {
    width: calc(405px / 4);
    height: calc(90px / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
}
.max-amount {
    width: calc(135px / 4);
    height: calc(90px / 4);
    float: left;
    text-align: center;
}
.building-desc {
    width: 270px;
    height: calc(270px / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
}
.amount {
    width: calc(270px / 4);
    height: calc(270px / 4);
    position: absolute;
    right: calc(90px / 8);
    font-size: 300%;
    opacity: 0.5;
    margin-top: calc(90px / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
#shop-container {
    height: 100%;
    width: 270px;
    float: right;
}
#buy-multiple-container {
    width: 100%;
    height: 20px;
    float: right;
    margin-right: 2px;
    outline: 1px solid;
}
.buy-multiple-button {
    width: calc(100% / 3);
    height: 100%;
    padding: 0;
    float: left;
}
















































