body {
	font-family: "Noto Sans", sans-serif;
	background-color: rgb(244, 244, 244);
	color: rgb(33, 33, 33);
}
#cookie {
	text-align: center;
	background-color: rgb(115, 63, 0);
	height: 100px;
	width: 100px;
	border-radius: 100%;
}
#chip {
	position: absolute;
	top: 20px;
	margin: 50px;
	padding: 0px;
	background-color: rgb(61, 61, 61);
	height: 8px;
	width: 8px;
	border-radius: 100%;
}
#chip2 {
	position: absolute;
	top: 40px;
	left: -16px;
	margin: 50px;
	padding: 0px;
	background-color: rgb(61, 61, 61);
	height: 8px;
	width: 8px;
	border-radius: 100%;
}
#chip3 {
	position: absolute;
	top: 2px;
	left: -22px;
	margin: 50px;
	padding: 0px;
	background-color: rgb(61, 61, 61);
	height: 8px;
	width: 8px;
	border-radius: 100%;
}
#chip4 {
	position: absolute;
	top: -17px;
	left: 23px;
	margin: 50px;
	padding: 0px;
	background-color: rgb(61, 61, 61);
	height: 8px;
	width: 8px;
	border-radius: 100%;
	border-radius: 100%;
}

p {
	color: rgb(33, 33, 33);
	z-index: 1;
	display: inline-block;
	margin: 5px;
}

#space {
	text-align: center;
	border: 3px solid;
	border-radius: 3px;
	position: absolute;
	left: 122px;
	top: 20px;
	background-color: rgb(238,238,238);
	width: 389px;
	height: 78px;
}
table {
	border: 1px solid;
}
td {
	border: 1px solid;
}
